@font-face 
  {
    font-family: Comfortaa;
    src: url(Comfortaa/Comfortaa-VariableFont_wght.ttf);
    font-family: Comfortaa-medium;
    src: url(Comfortaa/Comfortaa-Light.ttf);
    font-family: Comfortaa-semibold;
    src: url(Comfortaa/Comfortaa-SemiBold.ttf);
    font-family: Comfortaa-bold;
    src: url(Comfortaa/Comfortaa-Bold.ttf);
  }

body
{
  font-family: Comfortaa;
  background-color: #FCF4EB;
}
.hijoUbicacion
{
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-around;
}
.Datos-Mapa
{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  text-align: justify;

}
.Horario
{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  text-align: justify;
}
.Direccion
{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  text-align: justify;
}

li
{
  display: inline;
  justify-content: center;
  margin: 4%;
}


h2
{
  text-align: center;
  font-family: Comfortaa-bold;
  font-size: 50px;
}

footer
{
  background-color: #E9C863;
  height: 200px;
}
.Foo-Text
{
  
  padding-top: 4%;
  
  height: 10px;
}
.Foo-Redes
{
  align-self: center;
  margin-right: 2%;
}